# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.cproject
*.project

# Editor/IDE files
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace
.idea/
*.iml

# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db

# Directories to ignore
bin/
obj/
